:root,
[data-theme="light"] {
  --step--1: clamp(0.83rem, calc(0.79rem + 0.24vw), 1rem);
  --step-0: clamp(1rem, calc(0.93rem + 0.36vw), 1.25rem);
  --step-1: clamp(1.2rem, calc(1.1rem + 0.52vw), 1.56rem);
  --step-2: clamp(1.44rem, calc(1.29rem + 0.73vw), 1.95rem);
  --step-3: clamp(1.73rem, calc(1.52rem + 1.02vw), 2.44rem);

  --space-3xs: clamp(0.25rem, calc(0.23rem + 0.09vw), 0.31rem);
  --space-2xs: clamp(0.5rem, calc(0.46rem + 0.18vw), 0.63rem);
  --space-xs: clamp(0.75rem, calc(0.7rem + 0.27vw), 0.94rem);
  --space-s: clamp(1rem, calc(0.93rem + 0.36vw), 1.25rem);
  --space-m: clamp(1.5rem, calc(1.39rem + 0.54vw), 1.88rem);
  --space-l: clamp(2rem, calc(1.86rem + 0.71vw), 2.5rem);
  --space-xl: clamp(3rem, calc(2.79rem + 1.07vw), 3.75rem);
  --space-2xl: clamp(4rem, calc(3.71rem + 1.43vw), 5rem);
  --space-3xl: clamp(6rem, calc(5.57rem + 2.14vw), 7.5rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.25rem, calc(0.14rem + 0.54vw), 0.63rem);
  --space-2xs-xs: clamp(0.5rem, calc(0.38rem + 0.63vw), 0.94rem);
  --space-xs-s: clamp(0.75rem, calc(0.61rem + 0.71vw), 1.25rem);
  --space-s-m: clamp(1rem, calc(0.75rem + 1.25vw), 1.88rem);
  --space-m-l: clamp(1.5rem, calc(1.21rem + 1.43vw), 2.5rem);
  --space-l-xl: clamp(2rem, calc(1.5rem + 2.5vw), 3.75rem);
  --space-xl-2xl: clamp(3rem, calc(2.43rem + 2.86vw), 5rem);
  --space-2xl-3xl: clamp(4rem, calc(3rem + 5vw), 7.5rem);

  /* Custom pairs */
  --space-s-l: clamp(1rem, calc(0.57rem + 2.14vw), 2.5rem);

  --clr-text: #{$gray-900};
  --clr-background: #{$gray-50};
  --fader: #{$white};
  --screen-reader: #{$white};
  --light: flex;
  --dark: none;
  --icon: #{$gray-900};
  --invert: invert(0);
  --card-border: 2px solid rgba(24, 24, 27, 1);
  --card-shadow: 8px 8px 0px 0px rgba(24, 24, 27, 1);
  --card-background: #{$white};
  --pill-background: #{$gray-100};
  --feature-background: #{$gray-100};
  --schedule: #{$blue-600};
  --feature-color: #{$gray-600};
  --plan-span-color: #{$blue-500};
  --hr-color: #{$gray-300};
}

[data-theme="dark"] {
  --clr-text: #{$white};
  --clr-background: #{$gray-900};
  --fader: #{gray-900};
  --screen-reader: #{$contrast};
  --light: none;
  --dark: flex;
  --icon: #{$white};
  --invert: invert(1);
  --card-border: 2px solid rgba(161, 161, 170, 1);
  --card-shadow: none;
  --card-background: #{$gray-800};
  --pill-background: #{$gray-700};
  --feature-background: #{$gray-800};
  --schedule: #{$blue-300};
  --feature-color: #{$gray-300};
  --plan-span-color: #{$blue-300};
  --hr-color: #{$gray-600};
}

// Smooth Scrolling and Font Family
html {
  color-scheme: light dark;
  scroll-behavior: smooth;
  height: 100%;
}

// Fader
#fader {
  background: var(--fader);
}

// Body declarations
body {
  font-family: "Mona Sans";
  font-size: var(--step--1);
  color: var(--clr-text);
  background-color: var(--clr-background);
}

// Main Headers
h1,
h2,
h3 {
  text-wrap: balance;
  line-height: 1.1;
}

h1 {
  font-size: var(--step-3);
  letter-spacing: -0.01em;
  font-feature-settings: "ordn" on, "salt" on, "ss02" on, "ss03" on, "ss04" on,
    "cv01" on, "cv02" on, "cv03" on, "cv05" on, "cv11" on;
  font-stretch: 110;
}

h2 {
  font-size: var(--step-2);
}

h3 {
  font-size: var(--step-1);
}

h4 {
  font-size: var(--step-0);
}

// Header
header {
  margin-top: var(--space-m) !important;
  text-align: center;

  & p {
    margin-bottom: var(--space-l);
  }

  & .hero {
    margin-top: var(--space-2xl);

    & a {
      display: block;
      width: 100%;
      color: $white;
      background-color: $blue-500;
      padding: 1rem;
      border-radius: 0.5rem;
      font-weight: 600;
      text-decoration: none;

      &:hover {
        background-color: #2381de;
      }

      &:active {
        background-color: $blue-400;
      }
    }
  }
}

// Links
a {
  color: var(--clr-text);
}

.language {
  position: relative;
  text-decoration: none;

  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0.25rem;
    width: 0;
    height: 0.25rem;
    background: transparent;
    display: block;
    margin-top: 1rem;
    transition: 0.25s ease-in-out;
  }

  &:hover:after,
  &:focus-visible:after {
    width: 100%;
    background: currentColor;
  }
}

// SVG
.inline-svg {
  display: inline-flex;
  justify-content: center;
  height: 1em;
  width: 1em;
  top: 0.1em;
  position: relative;
}

svg,
svg path {
  //transition: 0.25s ease-in-out;
}

.sun,
.open {
  display: var(--dark);
}

.moon,
.close {
  display: var(--light);
}

.dim {
  opacity: 0.5;
}

.ura-text:hover path {
  fill: $blue-500 !important;
}

.bridge {
  fill: var(--icon);
}

#clients {
  a {
    text-decoration: none;
  }
}

.client-logo {
  filter: var(--invert);
}

#features {
  .wrap {
    background-color: var(--feature-background);
    border-radius: 1rem;
  }

  h4 {
    font-size: 1.5rem;
    font-weight: 600;
  }

  p {
    font-weight: 500;
  }

  .inline-svg {
    width: 2.5em;
    height: 2.5em;
  }

  .col-lg-4:not(:last-of-type) {
    border-right: 1px solid var(--hr-color);
  }

  .col-lg-4:not(:first-of-type) {
    padding-left: 2.5rem;
  }
}

#plans {
  span.accent {
    color: var(--plan-span-color);
  }
}

.themetoggle {
  background: none;
  color: var(--icon);
  outline: none;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  align-items: center;

  & .inline-svg {
    height: 1.35em;
    width: 1.35em;
    top: 0;
    border-radius: 0.25rem;
  }

  &:focus-visible {
    outline: 2px solid var(--clr-text);
  }
}

// Details
details summary::-webkit-details-marker {
  display: none;
}

details summary {
  position: relative;
  list-style: none;
  font-weight: 500;
  font-size: 1.25rem;
  color: var(--clr-text);
  cursor: pointer;
  margin-block: 1.25rem;
  display: flex;
  justify-content: space-between;

  & .inline-svg {
    top: 0;
  }
}

details:not(:last-of-type) {
  border-bottom: 1px solid $gray-300;
}

details[open] summary svg {
  transform: rotate(180deg);
}

/* add wrapper, continue with font-size */
@keyframes invisiblyGrowFontSize {
  0% {
    font-size: 0;
    opacity: 0;
  }
  100% {
    font-size: 1em;
    opacity: 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

details[open] .summary {
  animation-name: invisiblyGrowFontSize, fadeIn;
  animation-duration: 500ms, 200ms;
  animation-delay: 0ms, 500ms;
}

// Plans
.card {
  padding: 1.5rem;
  border-radius: 1rem;
  border: var(--card-border);
  box-shadow: var(--card-shadow);
  color: var(--clr-text);
  background-color: var(--card-background);

  & .price {
    font-size: 2.5rem;
    font-weight: 800;

    & span {
      font-size: initial;
      font-weight: 400;
    }
  }

  & .rate {
    display: inline-block;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    background-color: var(--pill-background);
    max-width: min-content;
    font-weight: 500;
    text-align: center;
  }

  & .get-started {
    color: $white;
    background-color: $blue-500;
    padding: 1rem;
    border-radius: 0.5rem;
    font-weight: 600;
    text-decoration: none;

    &:hover {
      background-color: #2381de;
    }

    &:active {
      background-color: $blue-400;
    }
  }

  & .schedule {
    color: var(--schedule);
    text-decoration: none;
    margin-top: 1rem;
    font-size: 0.95rem;

    &:hover {
      text-decoration: underline;
    }
  }

  & .included {
    font-size: 0.9rem;
    font-weight: 500;
    text-transform: uppercase;
  }

  & .feature {
    display: inline-flex;
    align-items: center;
    text-align: start;
    color: var(--feature-color);

    & .inline-svg {
      height: 1.1em;
      width: 1.1em;
      top: 0;
      color: $green-500;
      margin-right: 0.35rem;
    }

    &:last-of-type {
      margin-bottom: 2rem;
    }
  }
}

// Footer
footer {
  margin-top: auto !important;
  text-align: center;
  margin-bottom: var(--space-s-m);
}

// Accessibility
.screen-reader-text {
  border: 0;
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.screen-reader-text:focus {
  border-radius: 0.25rem;
  box-shadow: 0 0 0.125rem 0.125rem rgba(0, 0, 0, 0.6);
  clip-path: none;
  color: $black;
  background-color: $white;
  display: block;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  width: auto;
  top: 0.25rem;
  left: 0.25rem;
  line-height: normal;
  padding: 1rem;
  text-decoration: none;
  z-index: 25;
}

@include media-breakpoint-down(md) {
  .card {
    padding: 1rem;
  }
  #features .col-lg-4:not(:last-of-type) {
    border-right: none;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--hr-color);
  }

  #features .col-lg-4:not(:first-of-type) {
    padding-left: calc(var(--bs-gutter-x) * 0.5);
  }
}
