<!DOCTYPE html>
<html data-theme="light" lang="{{ .Site.Language }}" itemscope itemtype="http://schema.org/WebPage">

<head>
    {{ partial "head.html" . }}
</head>

<body class="d-flex flex-column min-vh-100">

    <svg id="fader" class="fade-out"></svg>
    <script>fadeInPage()</script>

    <a class="screen-reader-text" href="#content">{{ i18n "skipLink" }}</a>

    {{ partial "header.html" . }}

    <div id="content" class="content py-5">
        <section class="container-fluid py-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-9 col-12">
                        <h1>{{ .Title }}</h1>
                        {{ .Content }}
                    </div>
                </div>
            </div>
        </section>
    </div>

    {{ block "footer" . }}
    {{ partial "footer.html" . }}
    {{ end }}

    {{ partial "javascript.html" . }}

</body>

</html>