<header class="container-fluid text-start text-sm-center">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">

            <div class="dropdown">
                <button class="themetoggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="moon" aria-hidden="true">{{ partial "fontawesome.html" "regular/moon" }}</span> <span class="sun" aria-hidden="true">{{ partial "fontawesome.html" "regular/sun-bright" }}</span>
                </button>
                <ul class="dropdown-menu mt-2">
                    <li><button id="light-theme" type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light" aria-pressed="false"><span class="me-2">{{ partial "fontawesome.html" "regular/sun-bright" }}</span> Light</button></li>
                    <li><button id="dark-theme" type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="false"><span class="me-2">{{ partial "fontawesome.html" "regular/moon" }}</span> Dark</button></li>
                </ul>
              </div>
            
            {{ partial "logo.html" . }}
            {{ if .Site.IsMultiLingual }}
                {{ range .Site.Languages }}
                    {{ if eq . $.Site.Language }}
                    {{ else }}
                    {{ range $.Translations }}
                        <a class="language" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
                    {{ end }}
                    {{ end }}
                {{ end }}
            {{ end }}
        </div>
    </div>

    <script>
        let theme = localStorage.getItem("data-theme");
        const lightTheme = document.querySelector("#light-theme");
        const darkTheme = document.querySelector("#dark-theme");

        const changeThemeToDark = () => {
        document.documentElement.setAttribute("data-theme", "dark");
        localStorage.setItem("data-theme", "dark");
        darkTheme.setAttribute("aria-pressed", true);
        lightTheme.setAttribute("aria-pressed", false);
        };

        const changeThemeToLight = () => {
        document.documentElement.setAttribute("data-theme", "light");
        localStorage.setItem("data-theme", "light");
        lightTheme.setAttribute("aria-pressed", true);
        darkTheme.setAttribute("aria-pressed", false);
        };

        if (theme === "dark") {
        changeThemeToDark();
        }

        lightTheme.addEventListener("click", () => {
        let theme = localStorage.getItem("data-theme");
            changeThemeToLight();
        });

        darkTheme.addEventListener("click", () => {
        let theme = localStorage.getItem("data-theme");
            changeThemeToDark();
        });
    </script>

    {{ if .IsHome }}
    <div class="container">
        <div class="row justify-content-start justify-content-sm-center hero">
            <div class="col-lg-6 col-md-10 col-12">
                <h1>{{ i18n "homeTitle" }}</h1>
                <p class="mt-3">{{ i18n "homeSubtitle" }}</p>
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-7 col-12">
                        <a class="text-center" href="#plans">{{ i18n "viewPlans" }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ else }}
    {{ end }}
</header>