<header class="container-fluid text-start text-sm-center">
    <div class="container">
        <div class="d-flex justify-content-between">
            <button id="theme-toggle" class="themetoggle" aria-label="{{ i18n "toggle" }}">
                <span class="moon" aria-hidden="true">{{ partial "fontawesome.html" "regular/moon" }}</span> <span class="sun" aria-hidden="true">{{ partial "fontawesome.html" "regular/sun-bright" }}</span>
            </button>
            {{ if .Site.IsMultiLingual }}
                {{ range .Site.Languages }}
                    {{ if eq . $.Site.Language }}
                    {{ else }}
                    {{ range $.Translations }}
                        <a class="language" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
                    {{ end }}
                    {{ end }}
                {{ end }}
            {{ end }}
        </div>
    </div>

    <script>
        let theme = localStorage.getItem("data-theme");
        const themeToggle = document.querySelector("#theme-toggle");

        const changeThemeToDark = () => {
        document.documentElement.setAttribute("data-theme", "dark");
        localStorage.setItem("data-theme", "dark");
        };

        const changeThemeToLight = () => {
        document.documentElement.setAttribute("data-theme", "light");
        localStorage.setItem("data-theme", "light");
        };

        if (theme === "dark") {
        changeThemeToDark();
        }

        themeToggle.addEventListener("click", () => {
        let theme = localStorage.getItem("data-theme");
        if (theme === "dark") {
            changeThemeToLight();
        } else {
            changeThemeToDark();
        }
        });
    </script>

    {{ if .IsHome }}
    <div class="container">
        <div class="row justify-content-start justify-content-sm-center hero">
            <div class="col-lg-6 col-md-10 col-12">
                {{ partial "logo.html" . }}
                <h1 class="mt-5">{{ i18n "homeTitle" }}</h1>
                <p class="mt-3">{{ i18n "homeSubtitle" }}</p>
                <a class="text-center" href="#plans">{{ i18n "viewPlans" }}</a>
            </div>
        </div>
    </div>

    {{ else }}
    {{ end }}
</header>