{{ define "main" }}
<section id="clients" class="container-fluid pt-5 pb-4">
    <div class="container justify-content-center">
        <div class="row justify-content-center">
            <div class="col-lg-9 col-12">
                <div class="row">
                    {{ range where .Site.RegularPages "Type" "clients" }}
                    <div class="col-lg-2 col-md-4 col-4 text-center">
                        <a href="{{ .Page.Params.link }}" target="_blank" rel="noopener noreferrer">
                            <img class="img-fluid client-logo" src="/img/clients/{{ .Page.Params.image }}.svg" alt="{{ .Page.Params.name }}">
                        </a>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>

<section id="features" class="container-fluid pb-5">
    <div class="container justify-content-center">
        <div class="row justify-content-center wrap">
            <div class="col-lg-11 col-12 p-5">
                <div class="row justify-content-between">
                    {{ range where .Site.RegularPages "Type" "features" }}
                    <div class="col-lg-4 col-12">
                        <div class="row align-items-center">
                            <div class="col-auto">
                                {{ $icon := .Page.Params.icon }}
                                {{ partial "fontawesome.html" $icon }}
                            </div>
                            <div class="col-8">
                                <h4 clas="mb-0">{{ .Title }}</h4>
                                <p class="mb-0">{{ .Page.Params.subtitle }}</p>
                            </div>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>

<section id="deliverables" class="container-fluid py-5">
    <div class="container justify-content-between">
        <h2 class="text-center pb-4">{{ i18n "deliverables" }}</h2>
        <div class="row pt-4">
            {{ range where .Site.RegularPages "Type" "deliverables" }}
            <div class="col-lg-6 col-md-12 col-sm-12 col-12 mb-5 h-100">
                <div class="row align-items-center">
                    <div class="col-lg-4 col-md-4 col-4">
                        <img class="img-fluid" src="/img/illustrations/{{ .Page.Params.image }}.png" alt="{{ .Page.Params.name }}" loading="lazy">
                    </div>
                    <div class="col-lg-6 col-md-8 col-8">
                        <h3>{{ .Title }}</h3>
                        <p class="mb-0">{{ .Page.Params.subtitle }}</p>
                    </div>
                </div>

            </div>
            {{ end }}
        </div>
    </div>
</section>

<section id="plans" class="container-fluid py-5">
    <div class="container justify-content-between">
        <h2 class="text-center pb-0">{{ i18n "choosePlans" | markdownify }}</h2>
        <h4 class="text-center pb-5">{{ i18n "choosePlansSubtitle" }}</h4>
        <div class="row">
            {{ range where .Site.RegularPages "Type" "plans" }}
            <div class="col-lg-4 col-12 mb-4 mb-lg-3">
                <div class="card text-center h-100">
                    <h3 class="d-flex align-items-center align-self-center"><img class="star me-2" width="32px" src="/img/illustrations/{{ .Page.Params.icon }}.svg" alt="{{ .Title }}" loading="lazy"> {{ .Title }}</h3>
                    <p class="mb-1">{{ .Page.Params.subtitle }}</p>
                    {{ with .Page.Params.saving }}<div class="text-center"><p class="discount">{{ . }} savings</p></div>{{ end }}
                    <p class="price mb-0">€{{ .Page.Params.price }}<span>/{{ i18n "month" }}</span></p>
                    <div class="text-center"><p class="rate">{{ .Page.Params.rate }}€/{{ i18n "hour" }}</p></div>
                    <a class="schedule" href="{{ .Page.Params.call }}" rel="noopener noreferrer" target="_blank">{{ i18n "scheduleCall" }}</a>
                    <hr>
                    <p class="included text-start">{{ i18n "included" }}</p>
                    {{ range .Param "features" }}
                        <p class="feature">{{ partial "fontawesome.html" "solid/check" }} {{ . }}</p>
                    {{ end }}
                    <a class="get-started mt-auto" href="{{ .Page.Params.link }}" rel="noopener noreferrer" target="_blank">{{ i18n "getStarted" }}</a>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>

<section id="faq" class="container-fluid py-5">
    <div class="container">
        <h2 class="text-center pb-4">{{ i18n "faq" }}</h2>
        <div class="row justify-content-center">
            <div class="col-lg-8 col-12">
                {{ $lang := .Site.Language }}
                {{ range .Site.Data.en }}
                <details>
                    <summary>{{ .question }} {{ partial "fontawesome.html" "solid/chevron-down" }}</summary>
                    <div class="summary">
                        <p>{{ .answer | markdownify }}</p>
                    </div>
                </details>
                {{ end }}
            </div>
        </div>
    </div>
</section>
{{ end }}

